body{
  margin: 20px;
}
.ps-wrapper{
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
}
.play-space{
  overflow: hidden;
  margin: 0 auto;
  width: 800px;
  height: 500px;
  background-color: #34495e;
}
.Character{
  position: relative;
  top: 60px;
  margin: 0 auto;
  background-color:#e74c3c;
  width: 80px;
  height: 80px;
}
.evi{
  position: relative;
  top: 50px;
  margin: 0 auto;
  background-color:#e67e22;
  width: 56px;
  height: 56px;
}
.score{
  text-align: left;
  color: #ecf0f1;
}
p{
  margin: 0;
}

.p-play{
  font-size: 50px;
  position: relative;
  top: 40%;
  cursor: default;
}

.play{
  transition:3s ease-in-out;
  z-index: 1;
  width: 800px;
  height: 500px;
  background-color: #7f8c8d;
}
.remove{
  display: none;
}
.buy{
  background-color: black;
  position: relative;
  width: 50px;
  height: 50px;
  left: 90%;
  top: 250px;
}
.button{
  position: relative;
}
@@keyframes  {
  from{

  }
  to{

  }
}
